RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(?!download-files)(.*)$ /index.php?route=$1 [L,QSA]

RewriteRule ^download-files/(.*)$ Services/Files/downloadFile.php?path=$1 [L,QSA]

RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
